$color-primary: #754ffe;
$color-primary-darker: #6343d8;
$color-primary-lighter: #e3dcfe;
$color-secondary: #29baf9;
$color-secondary-darker: #239ed4;
$color-dark: #18113c;

.navbar {
    background-color: #f5f4f8 !important;
}

@media (max-width: 992px) {
    #contact-buttons {
        position: static !important;
    }
}
